{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "env": {
    "debug": {
      "retainLines": true
    },
    "test": {
      "plugins": ["babel-plugin-rewire"]
    }
  }
}